@use "variaveis";
@use 'media';

.quest {
  padding: 5.6vw;
  

  .title--big {
    text-align: center;
    margin-bottom: 24px;
    font-family: SpiderFont;
    font-weight: 500;
  }

  &__link {
    color: #fff;
    &__curiosities {
      background-color: #13151d;
      margin-bottom: 16px;
      list-style: none;

      &--is-open {
        .quest__link__curiosities__item::after {
          content: "-";
        }
        .quest__link__curiosities__item__questions {
          max-height: 240px;
          padding-bottom: 24px;
        }
      }

      &__item {
        color: #fff;
        font-size: 20px;
        padding: 24px;
        display: block;
        cursor: pointer;
        position: relative;

        &::after {
          content: "+";
          position: absolute;
          top: 0;
          right: 24px;
          height: 100%;
          display: flex;
          align-items: center;
          font-size: 40px;
        }
        &__questions {
          max-height: 0;
          overflow: hidden;
          padding: 0 24px;
          transition: max-height 0.5s ease, padding 0.5s ease;

          p {
            margin-bottom: 20px;
            margin-right: 30px;
            font-size: 16px;
            text-align: left;
          }

          &__text {
            padding: 20px;
          }
        }
      }
    }
  }
}
